<div>
    <h2>Dashboard</h2>
    <a href="/">Homepage</a>
    <a href="/logout">Logout</a>

    <h3>Your Blog Posts</h3>
    {{#each userPosts}}
    <div>
        <h4>{{title}}</h4>
        <p>{{content}}</p>

    </div>
    {{/each}}

    <a>Create New Post</a>
</div>