<form class="new-post">
    <div class="mb-3">
        <input type="text" class="post-form" id="title-tech-post" placeholder="Title">
    </div>
    <div class="mb-3">
        <label for="title-tech-post" class="form-label">Content:</label>
        <textarea class="post-form" id="content-tech-post" rows="5"
            placeholder="Enter your tech thoughts here!"></textarea>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Post</button>
    </div>
</form>
<script src="/js/newpost.js"></script>